:root{
  --primary-color: #0d101e;
  --secundary-color: #760EE3;
  --warn-color: ##E3310E;
}
* {
  font-family: "Roboto", sans-serif;
}
body{
  margin: 0!important;
  
}
.contact-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-item > a {
  text-decoration: none;
  color: white;
}
.contact-item > img {
  width: 80%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
#side-bar {
  margin-right: 10px;
  width: 10%;
  background-color: var(--primary-color);
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100vh;
}
.mt {
  margin-top: 100px;
}
