.contact-item {
  color: white;
}
* {
  font-family: "Roboto", sans-serif;
}
body{
  margin: 0!important;

}
.contact-item > a {
  text-decoration: none;
  color: white;
}
.contact-item > img {
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
}
#side-bar {
  margin-right: 10px;
  width: 10%;
  background-color: #0d101e;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100vh;
}
.mt {
  margin-top: 100px;
}
